<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dirt!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/> -->
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Source+Code+Pro&display=swap" rel="stylesheet">
  </head>
  <body>
      <!-- Nav Bar -->
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">Dirt!&#129716;</label>
      <ul>
        <li><a class="active" href="#">Plant Forum</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </nav>

    {{{body}}}
  <script src="/js/main.js"></script>
  </body>
</html>