<section>
        <div id="login-section">
        <form id="login">
            <input id="firstname" type="text" name="text"  placeholder="firstname">
            <input id="lastname" type="text" name="text"  placeholder="lastname">
            <input id="email" type="text" name="text"  placeholder="email">
            <input id="username" type="text" name="text"  placeholder="username">
            <input id="password" type="text" name="text"  placeholder="password">
            <input type="submit" name="submit" class="user">
          </form>
        </div>
    </section>