{{!--
<section>
  <div id="login-section">
    <form id="login">
      <input id="firstname" type="text" name="text" placeholder="firstname">
      <input id="lastname" type="text" name="text" placeholder="lastname">
      <input id="email" type="text" name="text" placeholder="email">
      <input id="username" type="text" name="text" placeholder="username">
      <input id="password" type="text" name="text" placeholder="password">
      <input type="submit" name="submit" class="user">
    </form>
  </div>
</section> --}}

<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-6">
    <h2>Login</h2>
    <form class="form user">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup">
      <div class="form-group">
        <label for="name-signup">username:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary1" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>