<div class="row profile-container">
  <div class="col-3 profile-image-section">
    <img id="profile-img"
      src="https://res.cloudinary.com/mado8/image/upload/c_scale,h_200,w_200/v1639385654/depositphotos_392750726-stock-photo-cartoon-green-plant-pot-houseplant_bqcedc.webp"
      alt="">
  </div>
  <div class="col-8">
    <div class="card profile-info-card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Username: {{username}}</li>
        <li class="list-group-item">Email: {{email}}</li>
      </ul>
    </div>
    <div class="card profile-info-card">
      <div class="container-md">
        <p>Welcome to Dirt!</br></br>
          Our plants are rated on a scale of 1 to 5 for light and water levels. </br></br> Sunlight: </br>
          Level 1 corresponds to a plant that is well suited for darker rooms, with no direct sunlight </br>
          Level 2 corresponds to a plant that prefers indirect/low light </br>
          Level 3 corresponds to a plant that suits medium light levels, with a mixture of direct/indirect light</br>
          Level 4 corresponds to a plant that enjoys several hours of direct sunlight</br>
          Level 5 plants prefer to be placed in direct sunlight for most of the day</br></br> Water: </br>
          Level 1 corresponds to a plant needs irregular watering, at most once every week or couple of weeks. </br>
          Level 2 plants prefer to be watered when almost dry or when 50% of the soil is dry.</br>
          Level 3 plants prefer to be watered when the top inch of soil is dry.</br>
          Level 4 plants prefer to be slightly moist. Make sure they are not soaking wet and have good drainage.</br>
          Level 5 plants are usually aquatic or need a constant supply of water.</p>
      </div>
    </div>
  </div>
</div>
</div>