
    <!-- Search Bar -->
    <section class="search-bar-section">
        <div>
        <form>
            <input id="search-input" type="text" name="text" class="search" placeholder="Search For a Plant!">
            <input type="submit" name="submit" class="submit">
          </form>
        </div>
    </section>
    {{#each plants}}
        <div class="card">
            <!-- .getAttribute("plant-id") -->
            <!-- Photo Cards for search results -->
            <div class="card-header" data-plant-id={{this.id}}>{{this.name}}</div>
            <div class="card-body">{{this.scientific_name}}</div>
            <div class="card-footer">
                <button class="btn details">Details</button>
                <button class="btn btn-outline">Save to Wishlist</button>
            </div>
        </div>
    {{/each}}
