<div class="row" id="row-div">
    <div class="upload-image-container col-4">
        <div id="photo-placeholder"><a>+</a></div>
    </div>
    <div class="form-container col-8">
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Title</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="post-comment-area"></textarea>
            <label for="floatingTextarea">Post Content</label>
        </div>
    </div>
</div>

<div class="d-grid gap-2">
  <button class="btn" type="button">Upload</button>
</div>

<script src="./js/upload.js"></script>