:root {
  --color: #DD864F;
}

*, *::before, *::after {
  /* padding: 0; */
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Shadows Into Light', cursive;
}
body{
  font-family: 'Shadows Into Light', cursive;
}
/* Nav Bar Section */
nav{
  background: #7C8A65;
  height: 80px;
  width: 100%;
  border-style: solid;
    border-width: 1px;
    border-color: #251605;
}
label.logo{
  color: white;
  font-size: 65px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #251605;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #D2FDC4;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
/* section{
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
} */
/* Search Bar Section */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
body {
  margin: 0;
  /* padding: 0; */
  background: #D2FDC4;
  
}
section div {
  border-style: solid;
  border-width: 3px;
  border-color: #251605;
}
form {
  width: 400px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
input {
  padding: 4px 10px;
  border: 10;
  font-size: 16px;
}
.search {
  width: 75%;
  font-family: 'Shadows Into Light', cursive;
}
.submit {
  width: 70px;
  background-color: #251605;
  color: #ffffff;
  font-family: 'Shadows Into Light', cursive;
}
/* Photo Cards Section */

.card-home {
    background: #7C8A65;
    padding: 1rem;
    border: 1px solid #251605;
    border-radius: .25rem;
}

.card-header {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.card-img-top > img {
  display: block;
  width: 100%;
  max-height: 200px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  transition: 200ms transform ease-in-out;
}

.card:hover > .card-img-top > img {
  transform: scale(1.025);
    }

.card-body {
    font-size: .9rem;
}

.card-footer {
    margin-top: 1rem;
}

.btn {
    --color: #DD864F;
    background: var(--color);
    color: white;
    border: none;
    font-size: 1rem;
    padding: .5em .75em;
    border-radius: .25em;
    cursor: pointer;
}

.btn:hover, .btn:focus {
    background: #E29565;
}

.btn.btn-outline {
    background: #DD864F;
    border: 1px solid var(--color);
    color: white;
}

.cards-container {
  display: flex;
  justify-content: center;
  width: 100%;  }

.card {
  width: 50%;
  display: inline-block;
}

div.card-body {
  background-color: white;
  border: 1px solid #251605;
  border-radius: .25em;
}

/* .container-fluid {
  display: flex;
  align-content: center;
} */

/* Posts CSS Section */

.navbar-light .navbar-brand {
color: white;
background-color: #DD864F;
border: 1px solid #251605;
border-radius: .25em;
margin-left: 45%;
}

div.container-fluid {
  background-color: #7C8A65;
}

button.btn.view-post {
  border: 1px solid #251605;
  margin-left: 38%;
}

  /* maddies weird css */

  /* .container-fluid {
    display: flex;
    align-content: center;

  } */

.comment-header{
    color: rgb(118, 118, 118);
}

#add-comment, #post {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.form-control {
    border-radius: 15px;
    width: 90vw;
    height: 120px;
    padding: 15px;
    color:rgb(118, 118, 118);
    font-size: 1.1rem;
}

.submit-section {
    display: flex;
    justify-content: center;
}

.wide-button {
    font-size: 1em;
    border-radius: 10px;
    width: 90%;
    height: 50px;
    border: none;
    background-color: rgb(216, 216, 216);
}

.primary-button {
    width: 70%;
    margin-bottom: 100px;
}

.secondary-button {
    background-color: rgb(235, 209, 186);
    font-size: .8em;
    width: 50%;
    height: 40px;
    margin-bottom: 50px;
}

#comment-button {
    margin-bottom: 8px;
}

.wide-button:hover {
    background-color: rgb(235, 209, 186);
}

.card-header {
    height: 50px;
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
}

.card-header:first-child {
    border-radius: 10px 10px 0px 0px;
}

.card-text {
    font-size: 1.1em;
}

#comment-div {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.header-div {
    display: flex;
    justify-content: center;
    margin-top: 60px
}

/* #form-section {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 2vh;
  margin-top: 200px;
  
} */

#form-container {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}

.form {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.comment-header {
    border-bottom: 2px solid rgb(165, 165, 165);
    font-weight: normal;
    font-size: 1.2em;
}

#comment {
    border-radius: 10px;
    width: 90vw;
}

#login-section {
  width: 100%;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
}

#login {
  width: 56vw;
}

input {
    width: 56vw;
    height: 8vh;
    background-color: rgb(240, 240, 240);
    border: solid 2px rgb(118, 118, 118);
    border-radius: 5px;
    padding-left: 10px;
}

